<%= form_for :search, :html => { :method => 'GET' }, remote: true, url: search_path do |form| %>
  <%= form.text_field :text, id: "id_for_input" %>
  <%= form.submit 'Search' %>
<% end  %>

<div class="content_inner_page">
</div>